.content h1{
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    line-height: 1.4;
}
.content hr{
    opacity: 1;
    color: hsla(313, 100%, 43%, 1);
    width: 15%;
    margin: 0px auto;
    margin-bottom: 3rem;
    height: 0.4rem;
}

.content h3{
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.3;
}

.content h4{
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
}

.content p{
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0px 3rem 0px;
}
.content li{
    font-size: 1.5rem;
    line-height: 1.4;
}