{%extends 'index.html'%}

{%load static%}

{%block metadata%}
    <meta name="description" content="Use our online random password generator to create complex and hard-to-crack passwords.">
    <meta name="keywords" content="Password Generat Tool">
   
    <meta property="article:publisher" content="https://www.facebook.com/techgeekbuzz/" />

    <link rel="canonical" href="https://www.techgeekbuzz.com/tools/password-generator">

    <meta property="og:site_name" content="techgeekbuzz.com">
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Generate a Strong and Secure Password " />
    <meta property="og:description" content="Use our online random password generator to create complex and hard-to-crack passwords." />
    <meta property="og:url" content="https://www.techgeekbuzz.com/tools">
    <meta property="og:image" content="https://www.techgeekbuzz.com{% static 'images/hero.png'%}" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="400" />
    <meta property="og:image:type" content="image/png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Generate a Strong and Secure Password ">
    <meta name="twitter:description" content="Use our online random password generator to create complex and hard-to-crack passwords.">
    <meta name="twitter:url" content="https://www.techgeekbuzz.com/tools/password-generator">
    <meta name="twitter:image" content="https://techgeekbuzz.com{% static 'images/hero.png'%}">
{%endblock%}

{%block css%}
    <link rel="stylesheet" href="{% static 'css/tools/tool.css'%}">
    <link rel="stylesheet" href="{% static 'css/tools/passwordgenerator.css'%}">
{%endblock%}

{%block title%}
    <title>Generate a Strong and Secure Password</title>
{%endblock%}
{%block headjs%} {%endblock%}


{%block main%}
    <!-- Main Section Started -->
    <main style="margin-top: 2rem;">
        <nav aria-label="breadcrumb" class="container pt-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{%url 'index'%}">Home</a></li>
                <li class="breadcrumb-item"><a href="{%url 'tools'%}">Tools</a></li>
                <li class="breadcrumb-item">Security</li>
                <li class="breadcrumb-item active" aria-current="page">Password Generator</li>
            </ol>
        </nav>

        <section class="tool-heading">
            <h1>Generate a Strong and Secure Password! </h1>
            <p>Use our online random password generator to create complex and hard-to-crack passwords</p>
        </section>

        <section class="password-generator-section">
            <h4 class="copy-password-message"></h4>
            <div class="password-section">
                <input type="text" name="password" value="" class="password" autocomplete="off">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-clipboard copy-password-img" viewBox="0 0 16 16">
                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-clockwise rf-password" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                </svg> 
            </div>
        </section>

        <section class="customization-section mt-5 py-3">
            <div class="customization">
                <div class="row">
                    <div class="col-lg-7 col-md-6 col-12">
                        <label>Length of the Password</label>
                        <div class="includes">
                            <input type="number" id="totallength" name="totallength" min="1" max="50" value="15">
                            <input type="range" id="length" name="length" min="1" max="50" value="15">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-12">
                        <div class="includes">
                            <input type="checkbox" name="includelower" id="includelower" checked="true"/>
                            <label for="includelower">Include Lowercase</label>
                        </div>
                        <div class="includes">
                            <input type="checkbox" name="includeupper" id="includeupper" checked="true"/>
                            <label for="includeupper">Include Uppercase</label>
                        </div>
                        <div class="includes">
                            <input type="checkbox" name="includespecial" id="includespecial" checked="true"/>
                            <label for="includespecial">Include Symbols</label>
                        </div>
                        <div class="includes">
                            <input type="checkbox" name="includenumbers" id="includenumbers" checked="true"/>
                            <label for="includenumbers">Include Numbers</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center my-5">
                <button class="btn btn-primary submit-btn shadow copy-password-btn"> Copy  Password </button>
            </div>
        </section>   

        <section class="what-is-pg">
            <h3>What is a Password Generator?</h3>
            <p>
                A password generator is a tool that creates a random or customized password for users based on the given guidelines or rules. It aids in the creation of robust and unpredictable passwords that offer a high degree of protection for the specific type of access.
                <br>
                Strong and secure password generators work by incorporating secure technology and built-in randomness to create strong passwords that are difficult to crack. Also, they adjust guidelines to accommodate the varying password requirements of different websites. 
            </p>
        </section>

        <section class="strong-password-section">
            <h3>What Makes a Strong Password? </h3>
            <div class="strong-password-point">
                <h4>Long</h4>
                <p>
                    Passwords with longer lengths are more secure. The length of a strong password should be at least 10 characters. 
                </p>
            </div>
            <div class="strong-password-point">
                <h4>Complex</h4>
                <p>
                    A strong password should be complex. This implies it should include numbers, letters, cases, and symbols to create an unpredictable string of characters that does not resonate with any name or word.  
                </p>
            </div>
            <div class="strong-password-point">
                <h4>Unique</h4>
                <p>
                    A strong password should be unique to each account. This reduces the vulnerability in the case of a cyberattack. 
                </p>
            </div>
        </section>
        <section class="password-generator-work">
            <h3>How Does Techgeekbuzz’s Password Generator Work?</h3>
            <p>
                Our strong password generator is built on secure technology and randomness so that every time you generate password, you get unique and unpredictable. 
                <br>
                Set the length of the password to any number between 1 to 50 and generate random passwords for your different accounts. Our passwords are strings of a combination of uppercase and lowercase letters, numbers, and special symbols. 
            </p>
        </section>

        <section class="container">
            <div class="faqs my-5">
                <div class="accordion" id="faqaccordion">
                    <h2 class="faq-headline">FAQs</h2>
                    <hr class="horizontal-row mb-5">
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="heading3">
                          <button class="accordion-button collapsed faqbutton" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                           1.Can a strong password be hacked? 
                          </button>
                        </h4>
                        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#faqaccordion">
                          <div class="accordion-body">
                              <p class="faqanswer">
                                There is a possibility of getting a strong password hacked, but it requires an imperceivable amount of time. Recently, a report found that a 12-character password containing only numbers is easy to hack and takes only upto 25 seconds. In contrast, a 12-character password containing numbers, letters, and symbols is unpredictable, as the amount of time required to hack them increases to 34K years.  
                              </p>
                          </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="heading1">
                          <button class="accordion-button collapsed faqbutton" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                           2. Is Techgeekbuzz’s password generator safe? 
                          </button>
                        </h4>
                        <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#faqaccordion">
                          <div class="accordion-body">
                              <p class="faqanswer">
                                Yes, Techgeekbuzz’s online password generator is safe and secure. It creates random and complex passwords of the length defined by you.  
                              </p>
                          </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="heading2">
                          <button class="accordion-button collapsed faqbutton" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                           3. Why should my password be unique?
                          </button>
                        </h4>
                        <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#faqaccordion">
                          <div class="accordion-body">
                              <p class="faqanswer">
                                It is better to have different passwords for your different accounts. If you use the same password and hackers succeed in predicting it, they get access to all your accounts, leaving you at great risk. By using the same passwords, you are making the job of attackers easy. So, protect yourself by using unique passwords for all your accounts. 
                              </p>
                          </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="heading4">
                          <button class="accordion-button collapsed faqbutton" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                           4. Why should my password be random? 
                          </button>
                        </h4>
                        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#faqaccordion">
                          <div class="accordion-body">
                              <p class="faqanswer">
                                Random passwords are hard to predict and even difficult for software programs to crack. If your password has a predictable pattern, hackers can guess it by leveraging the brute-force attack. Random passwords are meaningless as they combine unrelated letters, numbers, and symbols. 
                              </p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
    </main>
    <!-- Main section ended -->
{%endblock%}

{%block js%}
<script src="{%static 'js/tools/js/passwordgenerator.js'%}"></script>
{%endblock%}

