.password-generator-section, .customization-section{
    max-width: 77rem;
    margin: 0px auto 1rem;
    border-radius: 6px;
    border-bottom: 2px solid #003e93;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.password-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.copy-password-message{
    text-align: center;
    background: #17d17a;
    color: white;
    visibility: hidden;
}

.password-section input{
    width: 100%;
    max-width: 60rem;
    border: 0px;
    color: #003e93;
    font-size: 3rem;
    padding: 2rem 1rem;
    text-indent: 1.3rem;
}

.password-section input{
    outline: none;
}

.password-section svg{
    margin: 0px 1rem 0px 0px;
    fill: #003d93a8;
    cursor: pointer;
}
.refresh-password {
    animation: rotation 0.41s  linear;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

/* customizaition section */
.customization{
    padding: 0px 2rem;
}
label{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3;
    word-break: break-word;
}

.includes{
    display: flex;
    align-items: center;
    margin: 1rem 0px;
    gap: 10px;
}

input[type="number"]{
    font-size: 2rem;
    text-align: center;
}
input[type="checkbox"]{
    width: 2rem;
    height: 2rem;
}
input[type="range"]{
    width: 100%;
}

.copy-password-btn{
    font-size: 2rem;
    border-radius: 1rem;
    font-weight: 500;
    line-height: 1.4;
    padding: 1rem 3rem;
    letter-spacing: 1.2px;
}


/* What is-password generator section */
.what-is-pg{
    max-width: 95rem;
    margin: 3rem auto;
    text-align: center;
}

.what-is-pg h3{
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.4;
    word-break: break-word;
    color: #003e93;
}
.what-is-pg p{
    font-size: 1.5rem;
    line-height: 1.5;
    word-break: break-word;
    letter-spacing: 1.2px;
    word-spacing: 2.2px;
}
/* what is password generator section ends */

/* what is strong password */
.strong-password-section{
    max-width: 95rem;
    margin: 4rem auto;
}

.strong-password-section h3{
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.4;
    word-break: break-word;
    color: #003e93;
    text-align: center;
}

.strong-password-point{
    margin: 2rem 0px;
}

.strong-password-point h4{
    font-size: 1.8rem;
    color: #003e93;
    line-height: 1.4;
}

.strong-password-point p{
    font-size: 1.5rem;
    line-height: 1.5;
}
/* what is strong password ends */

/* password generator work */
.password-generator-work{
    max-width: 95rem;
    margin: 3rem auto;
    text-align: center;
}

.password-generator-work h3{
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.4;
    word-break: break-word;
    color: #003e93;
}
.password-generator-work p{
    font-size: 1.5rem;
    line-height: 1.5;
    word-break: break-word;
    letter-spacing: 1.2px;
    word-spacing: 2.2px;
}
/* password generator work ends */

/* faqs */
.faq-headline
{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

.faqbutton{
    background-color: white !important;
}
.faqanswer{
    font-size: 1.8rem;
    line-height: 1.4;
    color: #444;
    letter-spacing: 0.6px;
}

.accordion-header button {
    font-size: 2.1rem;
    margin-top: 0;
}
/* faqs ends */