{%extends 'index.html'%}

{%load static%}

{%block metadata%}

<meta property="og:locale" content="en_GB" />
<meta name="description" content="TechGeekBuzz is already at a million users a month and growing quickly. We are always looking forward to top-notch affiliate programs, advertisers, partners, patrons, and sponsors to add value to our content and audience." />
<meta property="og:type" content="article" />
<meta property="og:title" content="Advertising-Techgeekbuzz">
<meta property="og:description" content="TechGeekBuzz is already at a million users a month and growing quickly. We are always looking forward to top-notch affiliate programs, advertisers, partners, patrons, and sponsors to add value to our content and audience." />
<meta property="og:site_name" content="TechGeekBuzz" />
<meta property="article:publisher" content="https://www.facebook.com/techgeekbuzz/" />
{%endblock%}


    <!-- Style.css -->
{%block css%}
    <link rel="stylesheet" href="{% static 'css/advertisewithus.css' %}">
    
    <style>
        @media only screen and (max-width: 768px) {
            .card-image {
                display: none;
            }
        }
    </style>
{%endblock%}

{%block title%} 
<title>TechGeekBuzz Advertising </title>
{%endblock%}
{%block headjs%} {%endblock%}



{%block main%}
    <!-- Main Section Started -->
    <main style="margin-top: 6rem;">
        <section class="hero-section">
            <div class="container advert-hero-description">
                <h1>
                    Become a TGB Partner
                </h1>
                <hr>
                <p>
                    We are always open to lucrative partnerships. TGB has successfully paved its way for becoming one of the leading communities and sources of information for everything tech.
                    <br>TechGeekBuzz is already at a million users a month and growing quickly. We are always looking forward to top-notch affiliate programs, advertisers, partners, patrons, and sponsors to add value to our content and audience.
                    <br>TGB has a wide array of engaging placements and opportunities to ensure your brand or service gets displayed to the right audience.
                    <br>Our current partners include some of the leading boot camps, course providers, and event organizers.
                    <br>Connect with us today if you wish to reach a global audience of targeted users interested in online learning. We have a wide range of partnership opportunities.
                </p>
                <a href="#" class="btn btn-light">Contact Us</a>
            </div>
        </section>

        <section class="advert-on-tgb">
            <h4>
                ADVERTISE WITH TECHGEEKBUZZ 
            </h4>
            <h2>
                To Reach thousands of learners from around the world.
            </h2>
            <p>
                We present a galore of advertising options to provide your courses, products, and services the undivided attention of thousands of developers, IT professionals, data scientists, ML experts, and more.
            </p>
            <a href="#" class="btn btn-primary">Contact us </a>
        </section>

        <section class="advertising-option">
            <h2>Advertising Options</h2>
            <h3>
                Ready to put an advertisement on our platform? Choose from one of our tailor-made advertisement options listed below.
            </h3>
            <div class="container">
                <div class="row">
                    <!-- feature Card 1 -->
                    <div class="col-12">
                        <div class="row">
                            <div class=" feature-card feature-card-1 col-lg-7 col-12">
                                <div class="feature-background-image-card-1 card-image"></div>
                                <div class="feature-description">
                                    <h3>Featured Tutorials</h3>
                                    <p>
                                        We will mark your course “Featured” on the relevant topic that will offer your course the ideal placement. Have multiple courses? No issues as we have multiple topics.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- feature card 1 ends -->
                    <!-- feature Card 2 -->
                    <div class="col-12">
                        <div class="row">
                            <div class=" feature-card feature-card-2 col-lg-7 col-12">
                                <div class="feature-background-image-card-2 card-image"></div>
                                <div class="feature-description">
                                    <h3>
                                        Advertisements
                                    </h3>
                                    <p>
                                        You can choose to display your ads on one or more of our topics pages. Other advertisement placement options include the TGB homepage, blog posts, and email banners on footers.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- feature card 2 ends -->
                    <!-- feature card  3 -->
                    <div class="col-12">
                        <div class="row">
                            <div class=" feature-card feature-card-3 col-lg-7 col-12">
                                <div class="feature-background-image-card-3 card-image"></div>
                                <div class="feature-description">
                                    <h3>
                                        Direct Learner Outreach
                                    </h1>
                                    <p>
                                        We offer our advertisement partners the option to send promotion material via emails and push notifications to our users. You will be able to send these promotions with our internal tools.
                                        <br>To help you have better control over the outreach of your advertisement campaigns, we offer you specific targeting, such as users following specific topics and users with specific demographics.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Feature card 3 ends -->
                    <!-- Feature card 4 -->
                    <div class="col-12">
                        <div class="row">
                            <div class=" feature-card feature-card-4 col-lg-7 col-12">
                                <div class="feature-background-image-card-4 card-image"></div>
                                <div class="feature-description">
                                    <h3>
                                        Direct Educator Outreach
                                    </h3>
                                    <p>
                                        Educators are the users of TechGeekBuzz who submit and create content for the platform. We have options for advertisers looking to target our educators.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Feature card 4 ends -->
                </div>
            </div>
        </section>
        <!-- Why TechgeekBuzz start -->
        <section class="why-tgb">
            <div class="container why-tgb-heading">
                <h2>Why Techgeekbuzz?   </h2>
                <p> 
                    TGB is a mushrooming community of developers, designers, and other tech people that offer the best online courses and study material.
                </p>
            </div>
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <!-- Card 1 start -->
                    <div class="col-lg-3 col-12">
                        <div class="why-us-card d-flex flex-column align-items-center">
                            <img src="{% static 'images/user-mask.png'%}" class="img-fluid">
                            <p class="count">100K+ </p>
                            <p class="detail">Registered Users</p>
                        </div>
                    </div>
                    <!-- Card 1 ends -->
                    <!-- Card 2 start -->
                    <div class="col-lg-3 col-12">
                        <div class="why-us-card d-flex flex-column align-items-center">
                            <img src="{% static 'images/submitted-tutorials-mask.png'%}" class="img-fluid">
                            <p class="count">10+</p>
                            <p class="detail">Submited Tutorials</p>
                        </div>
                    </div>
                    <!-- Card 2 ends -->
                    <!-- card 3 start -->
                    <div class="col-lg-3 col-12">
                        <div class="why-us-card d-flex flex-column align-items-center">
                            <img src="{% static 'images/monthly-page-view-mask.png'%}" class="img-fluid">
                            <p class="count">200K+ </p>
                            <p class="detail">Monthly Page Views</p>
                        </div>
                    </div>
                    <!-- Card 3 ends -->

                </div>
            </div>
        </section>
        <!-- Why techgeekbuzz ends -->

        <!-- Ads for any budget goals -->
        <section class="ads-budget">
            <div class="container adds-heading">
                <h2>Suitable Ads for All Budgets</h2>
                <p>
                    Choose and set up a payment option from our variety of options. All it takes is just a few minutes.
                </p>
            </div>
            <div class="container">
                <div class="row justify-content-evenly"> 
                    <div class="col-lg-4 col-12">
                        <div class="ads-card d-flex flex-column align-items-center justify-content-center">
                            <img src="{% static 'images/target-audience.png'%}" class="img-fluid">
                            <h3>Place a Bid for Your Target Audience </h3>
                            <p>
                                We sell advertisements by auction, i.e., you will bid against other advertisers trying to reach the same audience as yours.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="ads-card d-flex flex-column align-items-center justify-content-center">
                            <img src="{% static 'images/control-cost.png'%}" class="img-fluid">
                            <h3>
                                The Control is Yours
                            </h3>
                            <p>
                                Start with setting your budget and then place a bid and schedule. You can start with any amount of budget and increase and decrease it at any time. Stop and resume your advertisements as you feel.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- Ads for any budget golas ends -->
        <!-- Promoters -->
        <section class="ads-budget" style="margin-top: 7rem;">
            <div class="container adds-heading">
                <h2>Our Previous Promotion Campaigns</h2>
                <p style="margin-bottom: 0px;">
                    Until now, we have promoted some of the biggest names on our platform.
                </p>
            </div>
            <div class="d-flex align-items-center justify-content-center promotions">
               <figure><img src="{% static 'images/monovm-logo 1.png'%}" class="img-fluid"></figure>
               <figure><img src="{% static 'images/azure-log.png'%}" class="img-fluid"></figure>
               <figure><img src="{% static 'images/ailogo.png'%}" class="img-fluid"></figure>
            </div>
        </section>
        <!-- Promoters ends -->

        <!-- <section class="container-fluid grow-with-us ">
            <div class=" d-flex flex-column align-items-center justify-content-center">
                <h1>Grow your business with targeted ads on Techgeekbuzz  </h1>
                <a href="#" class="btn btn-outline-light shadow">Contact Us</a>
            </div>
        </section> -->

    </main>
    <!-- Main section ended -->
{%endblock%}
