{%extends 'index.html'%}

{%load static%}

{%block metadata%}

<meta property="og:locale" content="en_GB" />
<meta name="description" content="Techgeekbuzz respects and care about your privacy. Thus, we have exclusively drafted this Privacy Policy to explain how we may collect and use your personal information." />
<meta property="og:type" content="article" />
<meta property="og:title" content="Privacy Policy-Techgeekbuzz">
<meta property="og:description" content="Techgeekbuzz respects and care about your privacy. Thus, we have exclusively drafted this Privacy Policy to explain how we may collect and use your personal information." />
<meta property="og:site_name" content="TechGeekBuzz" />
<meta property="article:publisher" content="https://www.facebook.com/techgeekbuzz/" />

{%endblock%}

{%block css%}
    <link rel="stylesheet" href="{% static 'css/privacy.css' %}" />
{%endblock%}

{%block title%}
    <title>TechGeekBuzz Privacy </title>
{%endblock%}
{%block headjs%} {%endblock%}

{%block main%}
    <!-- Main Section Started -->
    <main style="margin-top: 9rem;">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-12"></div>
                <div class="col-lg-8 col-12 content">
                    <h1>Privacy Policy</h1>
                    <hr>
                    <h3>General</h3>
                    <p>
                        Techgeekbuzz respects and care about your privacy. Thus, we have exclusively drafted this Privacy Policy to explain how we may collect and use your personal information.
                        <br/><br/>By going through this Privacy Policy, you will learn what personal information we (or “Techgeekbuzz”, “TechAtom Pvt. Ltd.”) collect about you and how we process it. Also, you will become familiar with your rights and obligations in relation to your personal data collected by us.
                        <br/><br/>TechAtom Pvt. Ltd. is the owner of the TechGeekBuzz, and it is also the data controller for the purposes of the General Data Protection Regulation (GDPR) and any relevant local Data Protection Laws.
                    </p>
                    <h3>1. Information Collection</h3>
                    <br/>
                    <h4>Personal and Usage Data That We Collect</h4>
                   
                    <p class="mb-2">
                        While you interact with the techgeekbuzz.com website, we may ask you to provide us with your personal information that we can use to contact or identify you. In general, the personal information that we collect includes your name, email address, and phone number.
                        <br/><br/>We may use your Personal Data to send you newsletters and marketing or promotional material that is likely to interest you. However, you also get the option to stop receiving such material.
                        <br/><br/> In addition to personal data, we may also need to collect your usage data, including cookies. While you use a browser to access TechGeekBuzz, we may directly or indirectly use the following usage data to get a better idea of your engagement:    
                    </p>
                    <ul>
                        <li>IP address </li>
                        <li>Pages visited by you </li>
                        <li>Time spent on each visited page</li>
                        <li>Browser name, type, and version</li>
                        <li>Date and time of your visits.</li>
                    </ul>
                    <p> Moreover, you will need to provide your payment information if you opt for one or more paid services offered by TechGeekBuzz.</p>

                    <h3>2. Cookies</h3>
                    <p>
                        Once you enter the website, we collect information about your browser type and IP address. We also collect information about your device type and device ID.
                        <br><br/>We also store some information from your browser using “cookies” that allow us to serve you better and make your browsing experience better. You can allow cookies to allow us to store data or not allow them. However, some features might not be available if you disable cookies.
                    </p>
                    <h3>3. Use of Data </h3>
                    <p class="mb-2">
                        We collect user data for the following reasons:
                    </p>
                    <ul>
                        <li>Providing you with our services.</li>
                        <li>Offering customer support.</li>
                        <li>Allowing you to use our interactive features.</li>
                        <li>Analyzing information for improving our services and serving you better.</li>
                        <li>Detecting, preventing, and addressing technical, security, and other issues.</li>
                        <li>Providing news, information about current offerings, exclusive events, and special offers.</li>
                    </ul>
                    <p></p>    
                    <h3>4. Processing of Personal Data Under GDPR (General Data Protection Regulation)</h3>
                    <p class="mb-2">If you are a user from the European Economic Area (EEA), TechGeekBuzz's legal basis for collecting, storing, and using your personal information as described in this Privacy Policy depends on the personal data that we collect and the context in which we collect it. TGB may process your personal data:</p>
                    <ul>
                        <li>To comply with the law.</li>
                        <li>For our legitimate interests that don’t override your privacy and data security rights.</li>
                        <li>For the purpose of payment processing.</li>
                        <li>To perform a contract with you.</li>
                    </ul>
                    <p></p>  
                
                    <h3>5. Retention of Data </h3>
                    <p class="mb-2">
                        TechGeekBuzz retains your personal data only for the time period that is necessary for the intended purposes mentioned in this Privacy Policy. Also, we will retain, process, and use your personal data to the extent it is necessary for complying with our legal obligations, resolving disputes, and enforcing our legal agreements and policies.
                        <br><br>We will also retain your Usage Data for our internal analysis purposes only. Usually, this data is retained for a short time period, except when:
                    </p>
                    <ol>
                        <li>
                            It is required to improve the functionality and/or security of our services.
                        </li>
                        <li>
                            We are legally bound to retain it.
                        </li>
                    </ol>
                    <p></p>
                    <h3>
                        6. Transfer of Data
                    </h3>
                    <p>
                        TechGeekBuzz may transfer information, including personal data and usage data, to computers and storage devices located outside your state, province, country, or other areas of government jurisdiction where the data protection laws may differ from those applicable in your area of jurisdiction.
                        <br><br>Your data is transferred to our servers that may or may not be available at your location. If you are located in any country other than the United States and choose to provide your data to us then please note that we transfer the data, including personal data, to our servers in the United States and process it there.
                        <br><br>Your consent to this Privacy Policy followed by the submission of such data represents your agreement to the data transfer.
                        <br><br>TechGeekBuzz is committed to taking all reasonable steps to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your personal data will be done to an organization or a country without adequate controls to ensure the security of your personal data and other personal information.
                    </p>
                    <h3>
                        7. Disclosure of Data
                    </h3>
                    <br/>
                    <h4>
                        Disclosure for Law Enforcement
                    </h4>
                    <p>
                        TechGeekBuzz may be required to disclose your personal data if required by law or in response to legitimate requests made by public authorities, including courts and government agencies.
                    </p>
                    <h4>
                        Legal Requirements
                    </h4>
                    <p class="mb-2">
                        TechGeekBuzz may disclose your personal data when such an action is necessary to:
                    </p>
                    <ul>
                        <li>
                            Comply with legal obligations.
                        </li>
                        <li>
                            Defend and protect the rights and/or property of TGB.
                        </li>
                        <li>
                            Prevent or investigate any wrongdoings with our services.
                        </li>
                        <li>
                            Protect and ensure the safety of our users or the general public.
                        </li>
                    </ul>
                    <p></p>
                    <h3>
                        8. Security
                    </h3>
                    <p>
                        We highly regard your trust in providing us with your personal data, and thus, we strive to use various means to protect it. However, no mode of electronic storage and method of transmission over the internet is 100% secure and reliable. Therefore, we cannot guarantee its absolute security.
                    </p>
                    <h3>
                        9. Data Protection Rights Under GDPR
                    </h3>
                    <p>
                        If you are a user from the European Economic Area (EEA), then you have some specific data protection rights. TechGeekBuzz is bound to take the necessary steps to let you amend, correct, delete, and limit the use of your personal data.
                    </p>
                    <ul>
                        <li>
                            The right to access, delete, or update the personal data that we hold about you. You can access, delete, or update your personal data directly from your account settings. In case of any issue, please contact us.
                        </li>
                        <li>
                            The right of rectification. In case your personal data is inaccurate, inappropriate, or incomplete, then you have the right to have the same rectified.
                        </li>
                        <li>
                            The right to object. You reserve the right to raise an objection to our processing of your personal data.
                        </li>
                        <li>
                            The right to restriction. If you want then you can request us to request the processing of your personal data.
                        </li>
                        <li>
                            The right to data portability. You have the right to obtain a copy of the information that we hold about you in a format that is commonly used and structured.
                        </li>
                        <li>
                            The right to withdraw consent. You can, at any time, withdraw your consent to allow us to process your personal data.
                        </li>
                        <li>
                            The right to complain. You reserve the right to raise a complaint against our collection, storage, and processing of your personal data to a Data Protection Authority.
                        </li>
                    </ul>
                    <p>
                        Kindly note that whenever raising such requests, we might ask you to verify your identity for security reasons.
                        <br/><br/>You can <a href="#">contact us</a> to know what personal data we store about you and/or if you want the same to be removed from our database.
                    </p>
                    <h3>
                        10. Third-Party Service Providers
                    </h3>
                    <p>
                        In order to enhance and sustain our services, we work with many third-party advertising networks, marketing analytics service providers, and website analysis firms like Google. These are collectively called Third-Party Service Providers.
                        <br/><br>We leverage third-party organizations and individuals to better our services. Additionally, we use them for performing certain activities and analyzing the performance of our services.
                        <br/><br>To facilitate your experience with TechGeekBuzz, these third parties access your Personal Data on our behalf only to better your experience on the website. They are obligated to keep your information safe and not use it for any other purposes.
                        <br/><br>These Third-Party Service Providers collect, store, and use personal data about your use and visits to the TechGeekBuzz website for providing you with content and advertisements relevant to your interests and preferences. They also use demographic and interest data for market research.
                        <br/><br>TechGeekBuzz uses Google Analytics to track and report website traffic. Google uses user data on our website to track and monitor the use of our services. To do it better, Google shares the same with its other services. It may also use the data to personalize ads offered to you on its advertising network.
                        <br/><br>For a better understanding of how Google uses your data, you can go through its Privacy Policy and Safeguarding your data pages.
                    </p>

                    <h3>
                        11. Advertising
                    </h3>
                    <p>
                        We use advertising to monetize our website. For that, we use third-party vendors and ad networks to offer relevant advertisements to our users. These third-party vendors leverage cookies, web beacons, and other forms of technology to serve ads.
                        <br/><br/>If you wish to avoid ads, you can visit these third-party websites and opt-out of cookies.
                    </p>
                    <h3>
                        12. Links to Third-Party Websites
                    </h3>
                    <p>
                        TechGeekBuzz may have links to other websites and you might be taken to these websites if you click a third-party link. These external links are in no way managed or operated by us. Therefore, this Privacy Policy is not valid for the websites with which the external links are associated.
                        <br/><br/>We highly recommended going through the privacy policies of these third-party websites to know about how they manage your data. TGB, in no way, will be responsible for the content, policies, and practices employed by these external websites.
                    </p>
                    <h3>
                        13. Revisions to This Privacy Policy
                    </h3>
                    <p>
                        It is important for us to revise our privacy policy from time to time in order to meet evolving business requirements. Therefore, we advise you to go through this page to know the changes made to the privacy policy. Once changes are notified on this Privacy Policy, they will be considered in effect.
                    </p>
                    <h3>
                        Contact Us
                    </h3>
                    <p>
                        If you have any corrections or queries regarding our privacy policy, please contact us here.
                    </p>

                </div>
                <div class="col-lg-2 col-12"></div>
            </div>

        </div>

    </main>
    <!-- Main section ended -->
 {%endblock%}