{%extends 'index.html'%}

{%load static%}

{%block metadata%}
<meta property="og:locale" content="en_GB" />
<meta name="description" content="TechGeekBuzz websites and related services are operated by TechAtom Pvt. Ltd." />
<meta property="og:type" content="article" />
<meta property="og:title" content="Term and Conditions-Techgeekbuzz">
<meta property="og:description" content="TechGeekBuzz websites and related services are operated by TechAtom Pvt. Ltd." />
<meta property="og:site_name" content="TechGeekBuzz" />
<meta property="article:publisher" content="https://www.facebook.com/techgeekbuzz/" />
{%endblock%}

{%block css%}
    <link rel="stylesheet" href="{% static 'css/privacy.css'%}" />
{%endblock%}


{%block title%}
     <title>TechGeekBuzz Advertising </title>
{%endblock%}
{%block headjs%} {%endblock%}

{%block main%}
    <!-- Main Section Started -->
    <main style="margin-top: 9rem;">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-12"></div>
                <div class="col-lg-8 col-12 content">
                    <h1>Terms and Conditions</h1>
                    <hr>
                    <p>
                        TechGeekBuzz websites (“Websites”) and mobile applications (“Apps”) and related services (together with the Websites, the “Service”) are operated by TechAtom Pvt. Ltd.
                        <br><br>Access and use of the Service are subject to the following Terms and Conditions of Service (“Terms and Conditions”). By accessing or using any part of the Service, you represent that you have read, understood, and agree to be bound by these Terms and Conditions, including any future modifications. If you do not agree to abide by these Terms and Conditions, you are not authorized to use, access, or participate in the Service.
                    </p>
                    <p>
                        Access and use of the Service is subject to the following Terms and Conditions of Service
                        ("Terms and Conditions"). By accessing or using any part of the Service, you represent that you
                        have read,
                        understood, and agree to be bound by these Terms and Conditions including any future
                        modifications.
                        If you do not agree to abide by these Terms and Conditions, you are not authorized to use,
                        access or
                        participate in the Service.
                    </p>
                    <h3>
                        I. Definitions
                    </h3>
                    <p>
                        In these Terms and Conditions:
                        <strong>I.I</strong> “Materials” means any materials (including articles, code editor, ebooks, videos, newsletters and forum, and other content) provided or made available through the Service;<br>
                        <strong>I.II</strong> “TechGeekBuzz,” “TGB,” “TechAtom,” “We,” “Us,” and “Our” are references to TechAtom Pvt. Ltd.;<br>
                        <strong>I.III </strong>The meaning of “User Account” is defined in clause II.I;<br>
                        <strong>I.IV</strong> “User Content” means any user-generated or supplied content submitted to us, such as comments, data, discussion, feedback, files, images, photographs, audiovisual, and text material in any format.<br>
                        <strong>I.V</strong> “You” and “Your” are references to you as a user of the Service (whether or not you make a purchase).<br>
                    </p>
                    <h3>II. Registration and access</h3>
                    <p>
                        <strong>II.I</strong> A number of Materials and our services require or best operate if you register an account (“User Account”). To be eligible for a User Account, you must be at least 13 years of age. We may require proof of identity as a prerequisite to registration.<br>
                        <strong>II.II</strong> Upon registration, we may collect information such as your name, address, valid email address, and phone number. You agree to provide accurate and complete information and to keep this information (as well as any credit card or other mode of payment) updated when interacting with us. We will use your personal information in accordance with our Privacy Policy.<br>
                        <strong>II.III</strong> If you are using the Service (and any Materials) on behalf of your employer, you and your employer may be bound jointly and severally in relation to these terms and conditions, and your employer will be responsible for your actions. You warrant that you are authorized to agree to these Terms and Conditions on behalf of your employer.<br>
                        <strong>II.IV</strong> You are solely responsible for any activity occurring on your account. You must maintain the security of your account details, including login and password details. If you suspect unauthorized use of your account or that your password is no longer secure, you must notify us immediately. Without limiting clause II.I, you agree and acknowledge that in the event we suffer loss or damage as a result of a minor purporting to enter into a transaction with us, we reserve the right to take legal action and seek recompense from the parent or guardian of that minor.<br>
                        <strong>II.V</strong> You must not use another person’s User Account without his or her permission.
                    </p>

                    <h3>
                        III. Intellectual Property
                    </h3>
                    <p>
                        While using the Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you (“Personal Data”). Personally identifiable information may include but is not limited to, your name, address, email address, phone number, and Cookies and Usage Data. You will also provide us with your payment transaction information if you choose to pay for TechGeekBuzz services.
                        <br>We may use your Personal Data to contact you with newsletters, marketing or promotional materials, and other information that may be of interest to you. You may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or following the instructions provided at the bottom of any email we send.
                    </p>
                    <h3>
                        IV. Contact Us
                    </h3>
                    <p>
                        If you have any queries or suggestions about our Terms and Conditions, then please Contact Us.
                    </p>
                </div>
                <div class="col-lg-2 col-12"></div>
            </div>

        </div>

    </main>
    <!-- Main section ended -->
 {%endblock%}